html, body {
    margin: 0;
    padding: 0;
  }
  canvas{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border: 2px solid black;
  }
  button {
    margin-left: 12px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 500px;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .div {
    background-color:#989999;
  }